*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    margin: 0;
}

.container {
    position: relative;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 27px 5px 50px 5px;
    border-radius: 29px;
    max-width: 350px;
    height: 480px;
    background-color: #F3F4FF;
}

.alert__img {
    display: block;
    margin: 0 auto;
}

.alert__title {
    color: #1D2532;
    line-height: 40px;
    margin-top: 12px;
    font-size: 34px;
}

.alert__text {
    margin-top: 26px;
    color: #151D51;
    line-height: 22px;
    font-size: 18px;
}

.alert__button {
    margin-top: 28px;
    background-color: #3B60E4;
    border-radius: 40px;
    width: 327px;
    height: 72px;
    border: none;
    color: #FFF;
    font-size: 29px;
    line-height: 32px;
    font-weight: 600;
    cursor: pointer;
}

.alert__link {
    text-decoration: none;
    color: white;
}
